{% extends 'base.html' %}
{% block content %}

<section id="edit-product-container">
    <div class="centre">
        <fieldset>
            <legend>Edit Product</legend>

            <form action="/products/{{ product.id }}/edit" method="post">

                <div class="row">
                    <div class="col-25">
                        <label for="manufacturer">Manufacturer: </label>
                    </div>
                    <div class="col-75">
                        <select name="manufacturer_id" id="manufacturer">
                            {% for manufacturer in all_manufacturers %}
                            {% if manufacturer.id == product.manufacturer.id %}
                            <option value="{{ manufacturer.id }}" selected>{{ manufacturer.name }}</option>
                            {% else %}
                            <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-25">
                        <label for="item">Item: </label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="item" id="item" value="{{ product.item }}" maxlength="255">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="description">Description: </label>
                    </div>
                    <div class="col-75">
                        <textarea name="description" id="description" value="{{ product.description }}" cols="18"
                            rows="2" maxlength="255">{{ product.description }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="category">Category: </label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="category" id="category" value="{{ product.category }}" maxlength="255">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="stock_quantity">Stock quantity: </label>
                    </div>
                    <div class="col-75">
                        <input type="number" name="stock_quantity" id="stock_quantity" min="0"
                            value="{{ product.stock_quantity }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="buying_cost">Buying cost: </label>
                    </div>
                    <div class="col-75">
                        <input type="number" name="buying_cost" id="buying_cost" step="0.01" min="0"
                            value="{{ product.buying_cost }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="selling_price">Selling price: </label>
                    </div>
                    <div class="col-75">
                        <input type="number" name="selling_price" id="selling_price" step="0.01" min="0"
                            value="{{ product.selling_price }}">
                    </div>
                </div>
                <br>
                <hr>
                <div>
                    <button type="submit">Update Product</button>
                </div>
            </form>

        </fieldset>
    </div>
</section>

{% endblock content %}