{% extends 'base.html' %}
{% block content %}

<div>
    <a href="/products/new">+ Add New Product</a>
</div>

<div>
    <form action="/products" method="get">
        <div>
            Filter:
            <label for="manufacturer"></label>
            <select name="manufacturer" id="manufacturer">
                <option value="" disabled selected hidden>Manufacturer</option>
                <option value="all">All</option>
                {% for manufacturer in unique_manufacturers %}
                <option value="{{ manufacturer }}">{{ manufacturer }}</option>
                {% endfor %}
            </select>
            <label for="category"></label>
            <select name="category" id="category">
                <option value="" disabled selected hidden>Category</option>
                <option value="all">All</option>
                {% for category in unique_categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <button type="submit">Go</button>
        </div>
    </form>
</div>


{% for product in all_products %}
<div>
    <ul>
        <li>{{ product.manufacturer.name }}</li>
        <li>{{ product.item }}</li>
        <li>{{ product.description }}</li>
        <li>{{ product.category }}</li>
        <li>{{ product.buying_cost }}</li>
        <li>{{ product.selling_price }}</li>
        <li>{{ product.calculate_mark_up() }}%</li>
        <li>{{ product.stock_quantity }} {{ product.check_stock_status() }}</li>
    </ul>
    <a href="/products/{{ product.id }}">View Product</a>
</div>

{% endfor %}

{% endblock content %}