{% extends 'base.html' %}
{% block content %}

<section id="new-product-form-container">
    <div class="centre">
        <fieldset>
            <legend>Add New Product</legend>

            <form action="/products/new" method="post">
                <div class="row">
                    <div class="col-25">
                        <label for="item">New Item: </label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="item" id="item" placeholder="Item" maxlength="255" autofocus required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="description">Description: </label>
                    </div>
                    <div class="col-75">
                        <textarea name="description" id="description" placeholder="Description" cols="18" rows="2"
                            maxlength="255" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="category">Category: </label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="category" id="category" placeholder="Category" maxlength="255"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="stock_quantity">Stock quantity: </label>
                    </div>
                    <div class="col-75">
                        <input type="number" name="stock_quantity" id="stock_quantity" min="0"
                            placeholder="Stock quantity" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="buying_cost">Buying cost: </label>
                    </div>
                    <div class="col-75">
                        <input type="number" name="buying_cost" id="buying_cost" step="0.01" min="0"
                            placeholder="Buying cost" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="selling_price">Selling price: </label>
                    </div>
                    <div class="col-75">
                        <input type="number" name="selling_price" id="selling_price" step="0.01" min="0"
                            placeholder="Selling price" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="manufacturer">Manufacturer: </label>
                    </div>
                    <div class="col-75">
                        <select name="manufacturer_id" id="manufacturer">
                            {% for manufacturer in all_manufacturers %}
                            {% if manufacturer.is_active != False %}
                            <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                            {% elif manufacturer.is_active == False %}
                            <option disabled>{{ manufacturer.name }} (inactive)</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <hr>
                <div class="centre">
                    <input type="reset" value="Reset Form">
                    <input type="submit" value="Add Product">
                </div>
            </form>

        </fieldset>
    </div>
</section>
{% endblock content %}