{% extends 'base.html' %}
{% block content %}

<fieldset>
    <legend>Edit Manufacturer</legend>

    <form action="/manufacturers/{{ manufacturer.id }}/edit" method="post">
        <div>
            <label for="name">Manufacturer's Name: {{ manufacturer.name }}</label>
        </div>
        <div>
            <input type="hidden" name="name" id="name" value="{{ manufacturer.name }}">

        </div>
        <br>
        <div>
            <label for="is_active">Is active?</label>
        </div>
        <div>
            <select name="is_active" id="is_active" required>
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
        <br>
        <div>
            <button type="submit">Update</button>
        </div>

    </form>

</fieldset>

{% endblock content %}