{% extends 'base.html' %}
{% block content %}
<h1>List of all manufacturers</h1>

{% for manufacturer in all_manufacturers %}
<section>
    <div>
        <ul>
            <li>Name: {{ manufacturer.name }}</li>
            <li>Is active?: {{ manufacturer.is_active }}</li>
            <li>ID: {{ manufacturer.id }}</li>
            <li><a href="/manufacturers/{{ manufacturer.id }}">Select</a></li>
        </ul>
    </div>
</section>

{% endfor %}

<section>
    <a href="/manufacturers/new">+ Add New</a>
</section>


{% endblock %}