{% extends 'base.html' %}
{% block content %}


<section id="new-manufacturer-container">
    <div class="centre">
        <fieldset>
            <legend>Add New Manufacturer</legend>
            <form action="/manufacturers/new" method="post">

                <div class="row">
                    <div class="col-25">
                        <label for="name">Manufacturer's name: </label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="name" name="name" required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="is_active">Is active?</label>
                    </div>
                    <div class="col-75">
                        <input type="radio" name="is_active" id="is_active" value="True" checked>
                        <label for="is_active">Yes</label>
                        <input type="radio" name="is_active" id="is_active" value="False">
                        <label for="is_active">No</label>
                    </div>
                </div>
                <br>
                <hr>
                <div>
                    <button type="submit">Add Manufacturer</button>
                </div>

            </form>
        </fieldset>
</section>
</div>
{% endblock  %}