body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/static/img/bg.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  color: red;
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

h2 {
  color: white;
  font-size: 75px;
  text-align: center;
}

.icon {
  font-size: 2em;
  color: red;
  margin-top: 30px;
  margin-left: 30px;
}

/* Main navigation */
.main-nav {
  float: right;
  list-style-type: none;
  margin-top: 30px;
}
.main-nav li {
  display: inline;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid red;
}
