body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/static/img/bg.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.centre {
  margin: auto;
  width: 33%;
}

header {
  margin-bottom: 20px;
}

.task-bar {
  margin-bottom: 40px;
}

h1 {
  color: red;
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

h2 {
  color: white;
  font-size: 75px;
  text-align: center;
}

.icon {
  font-size: 2em;
  color: red;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.icon-small {
  font-size: 1em;
  color: red;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}

/* Main navigation */
.main-nav {
  float: right;
  list-style-type: none;
  margin-top: 30px;
}
.main-nav li {
  display: inline;
  margin-right: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid red;
}

/* task bar */
.add-button {
  float: left;
  margin-left: 40px;
}

.add-button a:link,
.add-button a:visited {
  color: white;
}

.filter {
  float: right;
  margin-right: 40px;
  color: white;
}

/* product list - css snippets from w3 schools: https://www.w3schools.com/howto/ */

.product {
  width: 31%;
  padding: 15px;
  list-style-type: none;
}

.column {
  float: left;
  width: 31%;
  padding: 15px;
  list-style-type: none;
}

div.card {
  background-color: white;
  border-radius: 5%;
}

div.container {
  padding: 16px;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.07
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* links */
a.button {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50%;
  border-color: red;
  border-style: solid;
}

a:visited {
  color: blue;
}

a.button:hover {
  background-color: red;
}

a.button:active {
  background-color: tomato;
  border-color: tomato;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: red;
}

.link:active {
  color: tomato;
}

/* inline form  css snippets from w3 schools: https://www.w3schools.com/howto/ */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Style the input fields */
.form-inline select {
  vertical-align: middle;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 33%;
  height: 25%;
}

/* Style the submit button */
/* .form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
} */

/* fieldset input forms  css snippets from w3 schools: https://www.w3schools.com/howto/*/

fieldset {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  font-size: 0.85em;
  padding: 15px;
  margin: auto;
  width: 600px;
}

legend {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 20px;
}

/* Style inputs, select elements and textareas */
input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
